* {
  text-decoration: none;
}

.main {
  /* margin-top: 15rem; */
  height: 100vh;
  width: 100vw;
}
.cont-c {
  position: relative;
  display: grid;
  grid-template-rows: 15% 75% 1%;
  justify-items: center;
  align-items: center;
  margin-top: 0rem;
  margin-left: 10rem;
  margin-right: 6rem;
  height: 22rem;
  width: 70rem;
  background: #ffdcbcd1;
  border-radius: 15px;
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
  text-align: left;
  padding: 2rem;
}

.contact-body{
  margin-top: 25rem;
}
.send-btn{
  margin-left: 8rem;
  /* height: 2rem; */
}
.cont-boxes{
  background-color: #e4b991;
  margin: 1rem;
  width: 20rem;
  height: 2rem;
}
.contHead {
  margin-left: 8px;
  color: #5b4f47;
  font-family: "Raleway", sans-serif;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social .Logo{
margin-top: 2rem;
height: 7rem;
width: 7rem;
padding: 0.5rem;
}